html, body {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
}

body{
  margin: 0;
}

body *{
  font-family: 'Montserrat', monospace;
  font-size: 1rem;
  color: white;
  font-weight: normal;
}

button{
  color: #fff;
  background:transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
}

.render-container{
  width: 100vw;
  min-height: 100vh;
}
.render-container .banner{
  height: 100vh;
  background: linear-gradient(30.02deg, #621AD3 1.47%, #E52372 100%);
}
.render-container .func-area{
  background: #1D073D;
}
.banner-row-mob{
  height: 50vh
}
.fullheight{
  height: 100vh
}
.nice-btn{
  padding: 10px 20px;
  background: linear-gradient(90deg, #450F93 0%, #C11664 100%);
  border-radius: 10px;
  border: 0;
  height: 40px;
}
img.moblogo{
  width: 200px;
  height: 200px;
}
h1.branding{
  font-family: 'Poiret One';
  color: #fff;
  font-weight: 400;
  text-align: center;
  font-size: 72px;
      margin-top: 0;
}
.rotate {
  animation: rotation 5s infinite ease-in-out;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.jinn-divider{
  position: absolute;
  z-index: 1;
  text-align: center;
  height: 100vh;
}
@media (max-width: 992px){
  .jinn-divider{
    transform: rotate(90deg) translate(5%, -41%) scaleX(-1) 
  }
  img.moblogo{
    width: 140px;
    height: 140px;
  }
  h1.branding{
    font-size: 64px;
}