<!DOCTYPE html>
<html>
<head>
  <title>jinn - Musical Akinator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Poiret+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap-grid.min.css" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
  <div id="loader">
    <div class="row align-items-center" style="height: 100vh">
      <div class="col-12 d-flex flex-column justify-content-center align-items-center fullheight-kostyl">
        <img class="moblogo" src="img/logo.png" alt="jinn">
        <h1 id="loader-text" class="branding mt-5">Loading</h1>
      </div>
    </div>
  </div>


  <button class="circular" id="reset" onclick="toStep(1);"><i class="material-icons">close</i></button>
  <!-- Type 1 Block (Separated Gradient & Solid BG) -->
  <!-- Step 1 -->
  <div id="Step1" class="jinn-step active render-container">  
  	<div class="d-flex flex-column flex-lg-row justify-content-start justify-content-lg-stretch align-items-lg-stretch fullheight-kostyl">  		
  		<img src="img/lines.svg" alt="jinn" class="jinn-divider d-none d-lg-block">
      <img src="img/linesmob.svg" alt="jinn" class="jinn-divider-mob d-block d-lg-none">
	    <div class="banner col-12 col-lg-6 d-flex justify-content-center align-items-center">
	      <div class="row banner-row-mob align-items-center">
	        <div class="flex-column align-items-center justify-content-center">
	          <img class="moblogo" src="img/logo.png" alt="jinn" class="">
	          <h1 class="branding">jinn</h1>
	        </div>
	      </div>
		</div>
	    <div class="func-area col-12 col-lg-6 d-flex justify-content-center align-items-center">
			<div class="banner-row-mob d-flex flex-column align-items-center justify-content-center pl-lg-5">
				<h3 style="text-align: center;">Hi! I can guess songs if you try to sing them to me, or just find music by its lyrics.</h3>
				<button class="nice-btn" id="tostep2">START</button>
			</div> 
	    </div>
    </div>
  </div>


  <!-- Step 2 (choose method) -->
  <div id="Step2" class="jinn-step render-container">
  	<!-- Mobile version -->
  	<div class="d-flex d-lg-none flex-column justify-content-start">
			<img src="img/lines.svg" alt="jinn" class="jinn-divider d-none d-lg-block" style="transform: scaleX(-1);">
      <img src="img/linesmob.svg" alt="jinn" class="jinn-divider-mob d-block d-lg-none" style="transform: scaleY(-1);">
	    <div class="func-area col-12 col-lg-6 d-flex justify-content-center align-items-center">
	      <div class="row banner-row-mob align-items-center">
	        <button id="tostep32">Find by Lyrics</button>
	      </div>  
	    </div> 

	    <div class="banner col-12 col-lg-6 d-flex justify-content-center align-items-center">
	      <div class="row banner-row-mob align-items-center">
	        <button id="tostep31">Sing your song</button>
	      </div>     
	    </div>
    </div>
    <!-- PC version -->
    <div class="func-area col-12 d-none d-lg-flex flex-column justify-content-around align-items-center fullheight-kostyl">
      <div class="row" style="margin: 10px 0 30px 0;">
        <img src="img/logowhite.png" class="rotate" alt="jinn:" width="108" height="100">
        <h2 style="font-size: 2rem;line-height: 100px;margin: 0 0 0 30px;">Let's begin!</h2>
      </div>
      <div class="row">
        <span class="caption">How would you like me to guess your song?</span>
      </div>
      <div class="row align-items-center pt-2 pb-5">
        <div class="col-6"><img class="scalable-hover recmethod" src="img/lyricsearch.png" alt="lyrics" onclick="toStep(32);" /></div>
        <div class="col-6"><img class="scalable-hover recmethod rec-audio" src="img/micsearch.png" alt="audio/voice"/></div>
      </div>
    </div>


	</div>
    <!-- Type 2 Block (Solid BG) -->
    <!-- Step 3-1 (humming search) -->
	<div id="Step31" class="jinn-step render-container">
		<div class="func-area col-12 d-flex justify-content-center fullheight">
			<div class="row"> 
				<div class="status">
					<p>Ready?</p>
				</div>
				<div class="wave">
					<canvas id="myCanvas">
					</canvas>
				</div>
				<div class="d-flex flex-column record-div">
					<div class="row">
						<p id="timer"><span id="t-minutes">00</span>:<span id="t-seconds">00</span></p>
					</div>
					<div class="row justify-content-center">
						<button id="record"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path d="M12 15c1.66 0 2.99-1.34 2.99-3L15 6c0-1.66-1.34-3-3-3S9 4.34 9 6v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 15 6.7 12H5c0 3.42 2.72 6.23 6 6.72V22h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z"/><path d="M0 0h24v24H0z" fill="none"/></svg></button>
						<button id="stop"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 6h12v12H6z"/></svg></button>

						<button id="replay"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 5V1L7 6l5 5V7c3.31 0 6 2.69 6 6s-2.69 6-6 6-6-2.69-6-6H4c0 4.42 3.58 8 8 8s8-3.58 8-8-3.58-8-8-8z"/></svg></button>
						<button id="done"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg></button>
					</div>
					<div class="row d-none">
						<audio id="audio-preview" controls></audio>
					</div>
				</div>
			</div>
		</div>
	</div>

  <!-- Step 3-2 (Lyrics Search) -->
  <div id="Step32" class="jinn-step render-container">
    <div class="func-area col-12 d-flex justify-content-center align-items-center fullheight">
      <div class="d-flex flex-column results justify-content-center align-items-center">
        <p style="width: 100%; text-align: center; font-size: 24px; margin-top: 70px;">Enter a few words from lyrics!</p>
        <textarea id="lyrics-input"></textarea>
        <div class="d-flex justify-content-center record-div mt-5">
          <button id="submit-lyrics"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></button>
        </div>
      </div>
    </div>
  </div>

    <!-- Step 4 (Results) -->
  <div id="Step4" class="jinn-step render-container">
    <!-- Mobile version -->
    <div class="d-flex d-lg-none flex-column justify-content-start">
      <img src="img/linesmob.svg" alt="jinn" class="jinn-divider-mob d-block d-lg-none" style="transform: scaleY(-1);">
      <div class="banner col-12 col-lg-6 d-flex justify-content-center align-items-center album-preview">
        <div class="row banner-row-mob align-items-center">
          
        </div>     
      </div>
      <div class="func-area col-12 col-lg-6 d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column banner-row-mob justify-content-center" style="width: 100%;">
          <div class="row container-fluid align-items-center">
            <div class="col-10">
              <p class="title-results">Loading...</p>
              <p class="artist-results"></p>
            </div>
            <div class="col-2" style="padding: 0;">
              <button class="circular play-preview" onclick="stopAudio();">
               <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 6h12v12H6z"/></svg>
              </button>
            </div>
          </div>
          <div class="row container-fluid align-items-center">
            <div class="col-6">
              <button class="result-btn yes">Yes</button>
            </div>
            <div class="col-6">
              <button class="result-btn no">No</button>
            </div>
          </div>
          
        </div>  
      </div> 
    </div>
    <!-- PC version -->
    <div class="d-none d-lg-flex flex-column flex-lg-row justify-content-start justify-content-lg-stretch align-items-lg-stretch fullheight-kostyl">      
      <img src="img/lines.svg" alt="jinn" class="jinn-divider d-none d-lg-block">
      <img src="img/linesmob.svg" alt="jinn" class="jinn-divider-mob d-block d-lg-none">
      <div class="banner col-12 col-lg-6 d-flex justify-content-center align-items-center">
        <div class="row banner-row-mob align-items-center">
          <div class="flex-column align-items-center justify-content-center">
            <div class="album-preview" style="margin-bottom:20px;background-color: #621AD3;width: 400px;height: 400px;border-radius: 18px;"></div>
                <button class="circular play-preview stop-button" onclick="stopAudio();" style="margin:auto;"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 6h12v12H6z"/></svg></button>
          </div>
        </div>
    </div>
      <div class="func-area col-12 col-lg-6 d-flex justify-content-center align-items-center">
        <div class="banner-row-mob d-flex flex-column align-items-center justify-content-center pl-lg-5">
          <p class="title-results">Loading...</p>
          <p class="artist-results"></p>
          <div class="row container-fluid align-items-center">
            <div class="col-6">
              <button class="result-btn yes">Yes</button>
            </div>
            <div class="col-6">
              <button class="result-btn no">No</button>
            </div>
          </div>
        </div> 
      </div>
    </div>


  </div>

  <!-- Step 5 (the end) -->
  <div id="Step5" class="jinn-step render-container">
        <div id="step5-window1" class="d-flex flex-column flex-lg-row justify-content-start justify-content-lg-stretch align-items-lg-stretch fullheight-kostyl">      
            <img src="img/lines.svg" alt="jinn" class="jinn-divider d-none d-lg-block">
            <img src="img/linesmob.svg" alt="jinn" class="jinn-divider-mob d-block d-lg-none">
            <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
                <div class="row banner-row-mob align-items-center">
                    <div class="d-none flex-column align-items-center justify-content-center result-renderer-win">
                        <div class="d-flex justify-content-center">
                            <img class="robot-img" src="img/robot.svg" />
                        </div>
                        <p class="mt-5" style="font-size: 24px;">Hooray! I won!</p>
                    </div>
                    <div class="flex-column align-items-center justify-content-center result-renderer-lose">
                        <div class="d-flex justify-content-center">
                            <img class="robot-img" src="img/robot1.svg" />
                        </div>
                        <p class="mt-5" style="font-size: 24px;">Aw, snap! You win!</p>
                    </div>
                </div>
            </div>
            <div id="step5-window2" class="banner col-12 col-lg-6 d-flex justify-content-center align-items-center">
                <div class="banner-row-mob d-flex flex-column align-items-center justify-content-center pl-lg-5">
                    <p class="result-score"><span id="score">2</span> / 3</p>
                    <p class="mt-lg-5 py-lg-4">Wanna try again?</p>
                    <div class="d-flex justify-content-center">
                        <button class="result-btn" onclick="toStep(1);">Back to Home</button>
                    </div>
                </div> 
            </div>
        </div>
  </div>

  <!-- Scripts (asynchronous loading) -->
  <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script defer src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script defer src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  <script defer src="record-audio.js"></script>
  <script defer src="scripts.js"></script>
 

</body>
</html>
