<!DOCTYPE html>
<html>
<head>
  <title>jinn - Musical Akinator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Poiret+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap-grid.min.css" type="text/css">
  
</head>
<body>
  <!-- Type 1 Block (Separated Gradient & Solid BG) -->
  <!-- Step 1 -->
  <div id="Step1" class="render-container d-flex flex-column flex-lg-row justify-content-start justify-content-lg-center align-items-lg-stretch">
    <img src="img/lines.svg" alt="jinn" class="jinn-divider">
    <div class="banner col-12 col-lg-6 d-flex justify-content-center align-items-center">
      <div class="row banner-row-mob align-items-center">
        <div class="flex-column align-items-center justify-content-center">
          <img class="moblogo" src="img/logo.png" alt="jinn" class="">
          <h1 class="branding">jinn</span>
        </div>
      </div>

    </div>
    <div class="func-area col-12 col-lg-6 d-flex justify-content-center align-items-center">
      <div class="banner-row-mob d-flex flex-column align-items-center justify-content-center">
        <h3>Hi! I can guess songs if you try to sing them to me, or just find music by its lyrics.</h3>
        <button class="nice-btn">START</button>
      </div>
      
    </div>  
  </div>


  <!-- Step 2 (choose method) -->
    <div id="Step1" class="render-container d-flex flex-column flex-lg-row justify-content-start justify-content-lg-center align-items-lg-stretch">

    <div class="func-area col-12 col-lg-6 d-flex justify-content-center align-items-center">
      <div class="row banner-row-mob align-items-center">
        <button id="record">Find by Lyrics</button>
      </div>  
    </div> 

    <div class="banner col-12 col-lg-6 d-flex justify-content-center align-items-center">
      <div class="row banner-row-mob align-items-center">
        <button id="record">Sing your song</button>
      </div>     
    </div>
 
  </div>

    <!-- Type 2 Block (Solid BG) -->
    <!-- Step 3-1 (humming search) -->
  <div id="step3-1" class="render-container">
    <div class="func-area col-12 d-flex justify-content-center align-items-center fullheight">
      <div class="row banner-row-mob"> 
        <div class="d-flex flex-column">
          <div class="row justify-content-between">
            <button id="record">Record</button>
            <button id="stop">Stop</button>
          </div>
          <div class="row">
            <audio id="audio" controls></audio>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <!-- Step 3-2 (Lyrics Search) -->
  <div id="step3-2" class="render-container">
    <div class="func-area col-12 d-flex justify-content-center align-items-center fullheight">
      <div class="d-flex flex-column results">
        <textarea></textarea>
      </div>
    </div>
  </div>

  <!-- Step 4 (Results) -->
  <div id="step4" class="render-container">
    <div class="func-area col-12 d-flex justify-content-center align-items-center fullheight">
      <div class="d-flex flex-column results">
        <p class="artist">Test Artist (to be updated)</p>
        <p class="title">Test title (to be updated)</p>
      </div>
    </div>
  </div>

  <!-- Scripts (asynchronous loading) -->
  <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
  <script defer src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  <script defer src="record-audio.js"></script>
  
</body>
</html>
