<!DOCTYPE html>
<html>
<head>
  <title>jinn - Musical Akinator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap-grid.min.css" type="text/css">
  
</head>
<body>

  <div id="render-container" class="d-flex flex-column flex-lg-row justify-content-start justify-content-lg-center align-items-lg-stretch">
    <div class="banner col-12 col-lg-6 d-flex justify-content-center align-items-center">
      <div class="row banner-row-mob align-items-center">
        <img src="img/logo-mob.png" alt="jinn" width="150" height="238" class="moblogo">
      </div>
      
    </div>
    <div class="func-area col-12 col-lg-6 d-flex justify-content-center align-items-center">
      <div class="row banner-row-mob"> 
        <div class="d-flex flex-column">
          <div class="row justify-content-between">
            <button id="record">Record</button>
            <button id="stop">Stop</button>
          </div>
          <div class="row">
            <audio id="audio" controls></audio>
          </div>
          <div class="row results">
            <p class="artist">Test Artist (to be updated)</p>
            <br>
            <p class="title">Test title (to be updated)</p>
          </div>
        </div>
        
      </div>
    </div>  
  </div>

  <!-- Scripts (asynchronous loading) -->
  <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
  <script defer src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  <script defer src="record-audio.js"></script>
  <script defer src="scripts.js"></script>
  
</body>
</html>
